
{% for i in range(0, 14) %}
    <div class="card" onclick="window.location.href= '/work';return false">
        <img class="card-img-top" src="static-dist/workshowplugin/img/index/199.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">算法</p>
        </div>
    </div>
{% endfor %}



