<div class="box_769X1">

    <img class="image_203X1" src="static-dist/workshowplugin/img/index/199.png" alt="Card image cap">
    <div class="card-body">
        <p class="text_770X1">排序算法</p>
    </div>
</div>