{% extends 'WorkshowPlugin:Base:base.html.twig' %}
{% block content %}

  <div class="gallery-box1">
    <div class="gallery-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="gallery-title">
              <div class="gallery-title-name">我是作品标题</div>
              <div class="gallery-title-viewers">
                <img src="static-dist/workshowplugin/img/gallery/viewers.svg">2245
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="gallery-author">
              <img src="static-dist/workshowplugin/img/header/head-test.png">
              <div class="gallery-author-information">
                <span><b>作者名字</b></span>
                <br>
                <div class="gallery-author-introduction">
                  <span>除了打游戏，其他什么都不会......</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="gallery-cover">
              <img src="static-dist/workshowplugin/img/gallery/Cover.png">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="gallery-work">
              <div class="gallery-work-name">
                作品简介：
              </div>
              <div class="gallery-work-introduction">
                内容超多，地图50+ 物品300+ 生存，冒险，创造，奖励箱，超平坦等玩法，祝大家游戏愉快！（注意：有时候F键无法吃食物是因为你在此之前吃的食物总量达到20饥饿值了） 感谢所有为此作品点赞评分的MC玩家，为我的世界（英文版）做出贡献。 请您抬起您那高贵的手点赞+5星+分享。
                WSAD或上下左右键操作跳下（爬梯）左右行走；Q键扔东西，E键打开背包或瞄准箱子或门打开；按空格把物品分成1/N；P键暂停；F键吃东西：Q键扔东西。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="gallery-box2">
    <div style="font-size: 24px;font-weight: bold;">
      推荐作品
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="gallery-recommend">
            <img src="static-dist/workshowplugin/img/header/head-test.png">
            <b>作品名称</b>
          </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class=""></div>
  </div>
{% endblock %}